<!DOCTYPE html>
<html>
<head>
<style>


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>Directions and Nearby Restaurants</h1>
<form action="/download">
  <a href="/download">Download</a>

</form>
<br>
<h2>Directions</h2>
<table>
      <td>Instruction</td>
      <td>Distance</td>


  <tr>
    <td>Head 
south
 on 
S Federal St
 toward 
W Van Buren St
</td>
    <td>443 ft</td>
  </tr>

  <tr>
    <td>Turn 
right
 at the 1st cross street onto 
W Van Buren St
</td>
    <td>269 ft</td>
  </tr>

  <tr>
    <td>Turn 
left
 at the 1st cross street onto 
S Clark St
</td>
    <td>0.6 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 to stay on 
S Clark St
</td>
    <td>1.1 mi</td>
  </tr>

  <tr>
    <td>Turn 
right
 onto 
W Cermak Rd
</td>
    <td>269 ft</td>
  </tr>

  <tr>
    <td>Turn 
left
 onto the 
I-55 S
/

I-90 E
/

I-94 E
 ramp</td>
    <td>0.2 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork, follow signs for 
I-90 E
/

I-94 E
</td>
    <td>0.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork, follow signs for 
I-90 Express
/

I-94 Express
/

Garfield Blvd
 and merge onto 
I-90 Express E
/

I-94 Express E
</td>
    <td>3.6 mi</td>
  </tr>

  <tr>
    <td>Take exit 
59A
 for 
I-90 Skyway E
 toward 
Indiana Toll Rd
</td>
    <td>0.3 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
I-90 E
/

I-94 E
</td>
    <td>0.6 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
I-90 E
, follow signs for 
Interstate 90 Skyway E
/

Indiana Toll Rd

Toll road

Entering Indiana
</td>
    <td>10.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to stay on 
I-90 E

Toll road
</td>
    <td>17.4 mi</td>
  </tr>

  <tr>
    <td>Take exit 
21
 for 
I-94
/

IN-51
 toward 
US-6
/

Detroit
/

Lake Station

Toll road
</td>
    <td>0.1 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 to continue toward 
I-94 E

Toll road
</td>
    <td>0.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork, follow signs for 
I-94 E
/

Detroit
 and merge onto 
I-94 E

Entering Michigan
</td>
    <td>64.0 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to stay on 
I-94 E
</td>
    <td>63.2 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
I-94 E
</td>
    <td>73.7 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
M-14 E
, follow signs for 
Plymouth
</td>
    <td>3.6 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
M-14 E
/

US-23 BUS N
</td>
    <td>1.1 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
M-14 E
 (signs for 
US-23 S
/

Plymouth
/

Toledo
)</td>
    <td>0.4 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
M-14 E
/

US-23 S
</td>
    <td>2.0 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
M-14 E
, follow signs for 
Plymouth
/

Livonia
</td>
    <td>15.4 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
I-96
</td>
    <td>8.9 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
I-96 Express
/

Jeffries Fwy
</td>
    <td>5.7 mi</td>
  </tr>

  <tr>
    <td>
I-96 Express
/

Jeffries Fwy
 turns slightly 
left
 and becomes 
I-96 E
</td>
    <td>4.8 mi</td>
  </tr>

  <tr>
    <td>Take the 
I-75 N
/

M-10
 exit on the 
left
 toward 
Flint
/

Civic Ctr
</td>
    <td>0.3 mi</td>
  </tr>

  <tr>
    <td>Keep 
right
 at the fork, follow signs for 
Civic-Cobo Ctr
 and merge onto 
M-10 S
/

John C Lodge Fwy
</td>
    <td>1.9 mi</td>
  </tr>

  <tr>
    <td>Take exit 
1B
 on the 
left
 toward 
Larned St
/

TCF Center
</td>
    <td>0.3 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
W Larned St
</td>
    <td>0.2 mi</td>
  </tr>

  <tr>
    <td>Turn 
left
 onto 
Woodward Ave
</td>
    <td>0.2 mi</td>
  </tr>

  <tr>
    <td>Turn 
right
 onto 
Cadillac Square
</td>
    <td>125 ft</td>
  </tr>

  <tr>
    <td>Head 
south
 on 
S Federal St
 toward 
W Van Buren St
</td>
    <td>443 ft</td>
  </tr>

  <tr>
    <td>Turn 
right
 at the 1st cross street onto 
W Van Buren St
</td>
    <td>269 ft</td>
  </tr>

  <tr>
    <td>Turn 
left
 at the 1st cross street onto 
S Clark St
</td>
    <td>0.6 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 to stay on 
S Clark St
</td>
    <td>1.1 mi</td>
  </tr>

  <tr>
    <td>Turn 
right
 onto 
W Cermak Rd
</td>
    <td>269 ft</td>
  </tr>

  <tr>
    <td>Turn 
left
 onto the 
I-55 S
/

I-90 E
/

I-94 E
 ramp</td>
    <td>0.2 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork, follow signs for 
I-90 E
/

I-94 E
</td>
    <td>0.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork, follow signs for 
I-90 Express
/

I-94 Express
/

Garfield Blvd
 and merge onto 
I-90 Express E
/

I-94 Express E
</td>
    <td>3.6 mi</td>
  </tr>

  <tr>
    <td>Take exit 
59A
 for 
I-90 Skyway E
 toward 
Indiana Toll Rd
</td>
    <td>0.3 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
I-90 E
/

I-94 E
</td>
    <td>0.6 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
I-90 E
, follow signs for 
Interstate 90 Skyway E
/

Indiana Toll Rd

Toll road

Entering Indiana
</td>
    <td>10.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to stay on 
I-90 E

Toll road
</td>
    <td>17.4 mi</td>
  </tr>

  <tr>
    <td>Take exit 
21
 for 
I-94
/

IN-51
 toward 
US-6
/

Detroit
/

Lake Station

Toll road
</td>
    <td>0.1 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 to continue toward 
I-94 E

Toll road
</td>
    <td>0.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork, follow signs for 
I-94 E
/

Detroit
 and merge onto 
I-94 E

Entering Michigan
</td>
    <td>64.0 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to stay on 
I-94 E
</td>
    <td>63.2 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
I-94 E
</td>
    <td>73.7 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
M-14 E
, follow signs for 
Plymouth
</td>
    <td>3.6 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
M-14 E
/

US-23 BUS N
</td>
    <td>1.1 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
M-14 E
 (signs for 
US-23 S
/

Plymouth
/

Toledo
)</td>
    <td>0.4 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
M-14 E
/

US-23 S
</td>
    <td>2.0 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
M-14 E
, follow signs for 
Plymouth
/

Livonia
</td>
    <td>15.4 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
I-96
</td>
    <td>8.9 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
I-96 Express
/

Jeffries Fwy
</td>
    <td>5.7 mi</td>
  </tr>

  <tr>
    <td>
I-96 Express
/

Jeffries Fwy
 turns slightly 
left
 and becomes 
I-96 E
</td>
    <td>4.8 mi</td>
  </tr>

  <tr>
    <td>Take the 
I-75 N
/

M-10
 exit on the 
left
 toward 
Flint
/

Civic Ctr
</td>
    <td>0.3 mi</td>
  </tr>

  <tr>
    <td>Keep 
right
 at the fork, follow signs for 
Civic-Cobo Ctr
 and merge onto 
M-10 S
/

John C Lodge Fwy
</td>
    <td>1.9 mi</td>
  </tr>

  <tr>
    <td>Take exit 
1B
 on the 
left
 toward 
Larned St
/

TCF Center
</td>
    <td>0.3 mi</td>
  </tr>

  <tr>
    <td>Continue onto 
W Larned St
</td>
    <td>0.2 mi</td>
  </tr>

  <tr>
    <td>Turn 
left
 onto 
Woodward Ave
</td>
    <td>0.2 mi</td>
  </tr>

  <tr>
    <td>Turn 
right
 onto 
Cadillac Square
</td>
    <td>125 ft</td>
  </tr>

</table>
<br>
<br>
<br>
<h2>Restaurants</h2>
<table>
    <td>Name</td>
    <td>Rating</td>


<tr>
  <td>Grand Trunk Pub</td>
  <td>5</td>
</tr>

<tr>
  <td>Bangkok Crossing</td>
  <td>4.2</td>
</tr>

<tr>
  <td>Subway</td>
  <td>4.1</td>
</tr>

<tr>
  <td>Shake Shack</td>
  <td>4.4</td>
</tr>

<tr>
  <td>Parc</td>
  <td>5</td>
</tr>

<tr>
  <td>Noria bistro</td>
  <td>4.2</td>
</tr>

<tr>
  <td>Golden&#39;s Lifestyle Catering LLC</td>
  <td>4.3</td>
</tr>

<tr>
  <td>Central Kitchen + Bar</td>
  <td>4</td>
</tr>

<tr>
  <td>Tasteful Touch</td>
  <td>4.1</td>
</tr>

<tr>
  <td>Woodward Coney Restaurant</td>
  <td>4.4</td>
</tr>

</table>
</body>
</html>