<!DOCTYPE html>
<head>
</head>
<body>
<h2>View comments in main.py for intended example functions</h2>
<h3>Example 1: Inputting the string "test'); update users set password = 'changed' where username = 'test1';" for Password</h3>
<form action="/form_submit" method="POST" id = "form">
    <label for="user">User name:</label>
    <input type="text" id="user" name="user"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form>
<h3>Example 2: Inputting the string "" or ""="" for User name2</h3>
<form action="/form_submit2" method="POST" id = "form">
  <label for="user">User name2:</label>
  <input type="text" id="user" name="user"><br><br>
  <label for="password">Password2:</label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
<h3>Example 3: Inputting the string "test'); INSERT INTO users (username, password) VALUES ('extra', 'extra')" for Password3</h3>
<form action="/form_submit3" method="POST" id = "form">
  <label for="user">User name3:</label>
  <input type="text" id="user" name="user"><br><br>
  <label for="password">Password3:</label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
<h3>Example 4: Inputting the string "UNION ALL SELECT * from students" for User name4</h3>
<form action="/form_submit4" method="POST" id = "form">
  <label for="user">User name4:</label>
  <input type="text" id="user" name="user"><br><br>
  <label for="password">Password4:</label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
<h3>Example 5: Inputting the string "test'); drop table users;" for Password5</h3>
<form action="/form_submit5" method="POST" id = "form">
    <label for="user">User name5:</label>
    <input type="text" id="user" name="user"><br><br>
    <label for="password">Password5:</label>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>