<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Active Users</title>
  </head>
  <body>
    <p>Active Users List:</p>
    <table>
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
            <td><%= data[i].first_name %></td>
            <td><%= data[i].last_name %></td>
            <td><%= data[i].username %></td>
           </tr>
        <% } %>
        </table>
  </body>
</html>