################################
#  Author:  Denny Nowak
#  Email:   nowak32@purdue.edu
#  ID:      ee364b14
#  Date:    01/19/2022
################################

# Problem 1
# Ignore build folder and contents
build/

# Ignore any text file
*.txt