<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>About</title>
  </head>
  <body>
    <h1>Posts</h1>
    <table>
        <% for(var i=0; i < result.length; i++) { %>
            <tr>
              <td><%= result[i].date%></td>
              <td><%= result[i].post%></td>
            </tr>
         <% } %>
    </table>
  </body>
</html>
