<!doctype html>
<html>
    <body>
        <table border="1">
            <thead>
                <td>First Name</td>
                <td>Last Name</td>
                <td>ID</td>
                <td>Position</td>
            </thead>
            
            {% for row in rows %}
                <tr>
                    <td>{{row["first_name"]}}</td>
                    <td>{{row["last_name"]}}</td>
                    <td> {{ row["id"]}}</td>
                    <td>{{row['position']}}</td>	
                </tr>
            {% endfor %}
        </table>
        <form action = "/delete/{{emp_id}}" method = "POST">
            <button>Delete</button>
        </form>
    </body>
</html>