<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Please fill out your information below:</h1><br>

    <form  method="POST", action="/handle">
        <label for="userid">username:   </label>
        <input type="text" id="userid" name="userid"> <br>

        <br>
        
        <label for="password">password:   </label>
        <input type="password" id="password" name="password"> <br>

        <br>

        <!-- <input type="submit">Submit</input> -->
        <button type="submit" class="btn btn-primary">Sign up</button>

    </form>
    
    <br>

</body>
</html>
