<!DOCTYPE html>
<html lang="en">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <head>
  </head>
  <body>
    <h1>My profile</h1>
 
    <form action="" method="POST" id= {{unique_code}}>
      <input type="submit" style="position: absolute; top: 0; right: 0;" class="fadeIn fourth" value="create">
    </form>
    <table>
      <tr>
        <th>My Post</th>
      </tr>
      <tbody id="userPost">
      </tbody>
    </table>
  </body>
</html>
