<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
  </head>
  <body>
    <p>Posts</p>
    <!-- <script>
      var addr = user + "/create";
    </script> -->
    <form action = "<%= user %>/create" method = "POST">
      <input type = "submit" value= "Create Post"/>
    </form>
  </body>
</html>
