<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    <h1>Your unique username and id are:</h1> <br>
    <h3>username: "<%= username%>"</h3>
    <h3>id: "<%= id%>"</h3>
    </body>
</html> 