<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
<script type="text/javascript" src="../index.js"></script> 
</head>
<body>
    <form action="" method="POST" id = {{unique_code}} >
        <label for="username">Username: </label>
        <input type="text" name="username" id="username"><br>
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title"></input><br><br>
        <label for="content">Content</label><br>
        <input type="text" name="content" id="content"></input><br><br>
        <label for="vote">Vote</label><br>
        <input type="text" name="vote" id="vote"></input><br><br>
        <input type="submit" value="Back">
    </form>
</body>
</html>