<!DOCTYPE html>
<html>
<head>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/form_submit", { fname: "John", lname: "Doe" } );
                }); 
            }); 
</script>
</head>
<body>

<h1>Employee Create Page</h1>

<form action="/form_submit" method="POST" id = "form" >
  <label for="first_name">First name:</label>
  <input type="text" id="first_name" name="first_name"><br><br>
  <label for="last_name">Last name:&nbsp;</label>
  <input type="text" id="last_name" name="last_name"><br><br>
  <label for="id">ID:&nbsp;&emsp;&emsp;&emsp;&emsp;</label>
  <input type="text" id="id" name="id"><br><br>
  <label for="position">Position:&ensp;&emsp;</label>
  <input type="text" id="position" name="position"><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>