<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Employee List</h2>

<table style="width:100%">
  <tr>
    <th style="width:20%">First Name</th>
    <th style="width:20%">Last Name</th>
    <th style="width:60%">Position</th>
  </tr>
{% for element in data %}
  <tr>
    <td style="width:20%">{{element[0]}}</td>
    <td style="width:20%">{{element[1]}}</td>
    <td style="width:60%">{{element[2]}}</td>
  </tr>
{% endfor %}
</table>

</body>
</html>