<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 33.33%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>employees</h2>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>position</th>
      </tr>
{% for i in data %}
  <tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[3]}}</td>
  </tr>
{% endfor %}
</table>

</body>
</html>