<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
      <h1>Had issues with displaying post info on profile page from post database</h1>
      <h1>But can still see in /post/id</h1>
      <input type="button" onclick="location.href='<%=page %>'" value="create">
  </body>
</html>