<!-- This is a comment in HTML -->
<html>
	<head>
		<title> Page Title</title>
		<!--<style>
		p {
			color: red;
			font-family: verdana;
			font-size: 160%;
		}
		ol,ul  {
			border: 2px solid powderblue;
			background: #888;
			margin: 5px 5px;
			padding: 30px;
		}
		</style>-->
		<link rel = "stylesheet" href = "../styles/basicCss.css">
	</head>

	<body>
		<p>This is a long paragraph <br> to show the break tag </p>
		<br><p>These are my five most favourite bands</p>
		<ul>
			<li>Coldplay</li>
			<li>Dream Theatre</li>
			<li>The Police</li>
			<li>Queen</li>
			<li>U2</li>
		</ul>
		<p class = "primary">These are my five most favourite bands in order</p>
		<ol>
			<li>Queen</li>
			<li>Dream Theatre</li>
			<li>The Police</li>
			<li>U2</li>
			<li>Coldplay</li>
		</ol>
		<p id = "listen">Do give them a listen</p>
	</body>
</html>