<!DOCTYPE html>
<html>
<body>

<h1>Enter Values for A and B, which you'd like to multiply.</h1>

<p>Click "Go" and enter values in 'a, b' format</p>

<button onclick="multiply()">Go</button>

<p id="demo"></p>

<script>
function multiply() {
  let input = prompt("Please enter values in 'a, b' format", "a, b");
  if (input != null) {
    const ab = input.split(", ");
    output = parseInt(ab[0]) * parseInt(ab[1]);
    alert("Result: " + output.toString());
    document.getElementById("demo").innerHTML =
    "Result: " + output.toString();
  }
}
</script>

</body>
</html>
