<!DOCTYPE html>
<html>
<head>
<style>


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>Directions and Nearby Restaurants</h1>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- Auto width -->
<form action="/download">
  <a href="/download">Download</a>

</form>
<br>
<h2>Directions</h2>
<table>
      <td>Instruction</td>
      <td>Distance</td>


  <tr>
    <td>Head 
west
 on 
3rd St
/

State Rd 46 W
 toward 
Jackson St

Continue to follow State Rd 46 W
</td>
    <td>0.5 mi</td>
  </tr>

  <tr>
    <td>Turn 
left
 onto 
W Jonathan Moore Pike
/

State Rd 46 W
</td>
    <td>1.7 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
I-65 N
 via the ramp to 
Indianapolis
</td>
    <td>37.5 mi</td>
  </tr>

  <tr>
    <td>Take exit 
106
 for 
I-465 W
/

I-74 W
</td>
    <td>0.5 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
I-465 W
/

I-74
</td>
    <td>12.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 to continue on 
I-465 N
/

I-74
</td>
    <td>2.8 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 at the fork to continue on 
I-465 N
</td>
    <td>3.9 mi</td>
  </tr>

  <tr>
    <td>Take exit 
20
 on the 
left
 for 
Interstate 65 N
 toward 
Chicago
</td>
    <td>1.5 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
I-65 N
</td>
    <td>138 mi</td>
  </tr>

  <tr>
    <td>Take exit 
262
 to merge onto 
I-90 W

Toll road
</td>
    <td>16.9 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 to stay on 
I-90 W

Toll road

Entering Illinois
</td>
    <td>7.8 mi</td>
  </tr>

  <tr>
    <td>At the interchange 
Express
, keep 
left
 and follow signs for 
I-94 W
/

I-90 W
/

Ryan Expy

Toll road
</td>
    <td>0.4 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
I-90 Express W
/

I-94 Express W
</td>
    <td>4.8 mi</td>
  </tr>

  <tr>
    <td>Merge onto 
I-90 W
/

I-94 W
</td>
    <td>1.7 mi</td>
  </tr>

  <tr>
    <td>Take exit 
51H
 for 
I-290 W
</td>
    <td>0.6 mi</td>
  </tr>

  <tr>
    <td>Keep 
right
 at the fork to continue on 
Exit 51I
, follow signs for 
Ida B Wells Dr
 and merge onto 
IL-110 E
</td>
    <td>0.5 mi</td>
  </tr>

  <tr>
    <td>Keep 
left
 to continue on 
W Ida B. Wells Dr
</td>
    <td>0.3 mi</td>
  </tr>

  <tr>
    <td>Turn 
left
 onto 
S Dearborn St
</td>
    <td>489 ft</td>
  </tr>

  <tr>
    <td>Turn 
left
 at the 1st cross street onto 
W Van Buren St
</td>
    <td>128 ft</td>
  </tr>

  <tr>
    <td>Turn 
right
 at the 1st cross street onto 
S Federal St
</td>
    <td>443 ft</td>
  </tr>

</table>
<br>
<br>
<br>
<h2>Restaurants</h2>
<table>
    <td>Name</td>
    <td>Rating</td>


<tr>
  <td>Garrett Popcorn Shops</td>
  <td>4.5</td>
</tr>

<tr>
  <td>Dunkin&#39;</td>
  <td>4.2</td>
</tr>

<tr>
  <td>The Wigwam Room</td>
  <td>4.7</td>
</tr>

<tr>
  <td>Union League Club</td>
  <td>5</td>
</tr>

</table>




</body>
</html>