body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}
.redwrapper {
  display: flex;
  height: 60px;
  background-color: rgb(255, 0, 0);
  margin-bottom: 20px;
}
.bluewrapper {
  display: flex;
  height: 60px;
  background-color: rgb(0, 0, 255);
  margin-bottom: 20px;
}
.yellowwrapper {
  display: flex;
  height: 60px;
  background-color: orange;
  margin-bottom: 20px;
}
/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */
.redthingy1 {
  width: 80px;
  background-color: red;
}
.yellowthingy1 {
  width: 80px;
  background-color: orange;
}
.smallredbox {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 0, 0);
}
.thingreenline {
  height: 20px;
  background-color: green;
}
.thingreenbox {
  width: 20px;
  background-color: green;
}
.bigredthingy1 {
  width: 80px;
  background-color: rgb(255, 0, 0);
}
.bigredthingy2 {
  width: 80px;
  background-color: rgb(255, 0, 0);
}

.stickleft {
  display: flex;
  flex-grow: 1;
}
.stickcenter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row-reverse;
}
.stickcenterleft {
  display: flex;
  margin-left: 18%;
  margin-right: 18%;
  flex-direction: row;
}
.stickcenterright {
  display: flex;
  margin-left: 82%;
  margin-right: 82%;
  flex-direction: row;
}
.stickcentercenter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row-reverse;
}

.equidistant{
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: space-between;
}
.yellowequidistant{
  display: flex;
  height: 60px;
  background-color: orange;
  margin-bottom: 20px;
  justify-content: space-around;
}
.stickleft2 {
  flex-direction: row;
  display: flex;
  flex-grow: 1;
}
.stickvertcenter {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  flex-grow: 1;
}