<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
<script type="text/javascript" src="../index.js"></script> 
</head>
<body>
    <form action="" method="POST" id = {{unique_code}} >
        <label for="title">Title</label><br>
        <textarea name="title" id="title"></textarea><br><br>
        <label for="content">Content</label><br>
        <textarea name="content" id="content"></textarea><br><br>
        <input type="submit" value="Post">
    </form>
</body>
</html>
