<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/form_submit", { fname: "John", lname: "Doe" , UID: "1" , pos: "somewhere"} );
                }); 
            }); 
</script>
</head>
<body>

<h1>Create New Employee</h1>

<form action="/form_submit" method="POST" id = "form">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name: </label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="UID">Integer ID: </label>
  <input type="text" id="UID" name="UID"><br><br>
  <label for="pos">Position:    </label>
  <input type="text" id="pos" name="pos"><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>