<!DOCTYPE html>
<html>
<head>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/form_submit", { fname: "John", lname: "Doe" } );
                }); 
            }); 
</script>
</head>
<body>

<h1>Form Submission Example</h1>

<form action="/form_submit" method="POST" id = "form" >
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click on the submit button, and the input will be sent to a page on the server called "action_page.php".</p>

</body>
</html>