<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>Welcome <%= name %>!</h1>
    <title><%=name%>'s Profile Page</title>
    
</head>
<body>
  <p></p>
  <p>
    
  </p>
  <form action="<%=name%>/create" method="POST">
    <button>Create Post</button>
  </form>
  </div>
</div>