<!DOCTYPE html>
<html>

<p>
    <label for="origin">Origin:</label>
    <input type="text" name="origin" id="origin">
</p>

<p>
    <label for="destination">Destination:</label>
    <input type="text" name="destination" id="desitnation">
</p>

<form action="/directions" method="POST" id="directions">
    <p>
        <input type="submit" value="Find Directions" id="Find Directions" align="center">
    </p>
</html>

<form action="/food" method="POST" id="food">
    <p>
        <input type="button" value="Food Options" id="Find Directions" align="center">
    </p>
</html>





