<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/form_submit", { fname: "John", lname: "Doe" } );
                }); 
            }); 
</script>
</head>
<body>

<h1>Form Submission</h1>

<form action="/create" method="POST" id = "form">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password"><br><br>

  <input type="submit" value="Submit">
</form>

<p>Click on the submit button to submit".</p>

</body>
</html>