Prelab08/src/__pycache__/problems.cpython-38.pyc
Prelab08/src/__pycache__/problems.cpython-39-pytest-7.0.1.pyc
Prelab08/src/__pycache__/problems.cpython-39.pyc
Prelab08/tests/__pycache__/test1.cpython-38.pyc
Prelab08/tests/__pycache__/test1.cpython-39-pytest-7.0.1.pyc
Prelab08/tests/__pycache__/test1.cpython-39.pyc
