body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.row3 {
  flex: 1;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.redRow3 {
  /* justify-content: space-between; */
  width: 80px;
  position: relative;
  /* flex: 1; */
  background-color: red;
  border: 1px;
}

.blueRow3 {
  width: 80px;
  /* flex: 1; */
  /* flex-direction: row-reverse; */
  background-color: blue;
}

/* row 4 */
.redRow4 {
  flex: 1;
  background-color: red;
}

.blueRow4 {
  width: 80px;
  background-color: blue;
}

/* row 5 */
.boxRow5 {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: red;
  width: 40px;
  height: 40px;
  margin: auto;
}

/* row 6 */
.boxRow6 {
  position: relative;
  background-color: blue;
  width: 80px;
  height: 60px;
  margin: auto;
}

.redRow6 {
  flex: 1;
  background-color: red;
}

/* row 7 */
.redRow7 {
  width: 80px;
  background-color: red;
}

.row7{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: beige;
}

.blueRow7 {
  height: 20px;
  background-color: blue
}

.greenRow7 {
  height: 20px;
  background-color: green;
}

/* row 8 */

.row8 {
  display: flex;
  background-color: transparent;
  flex: 1;
  justify-content: space-between;
}

.orangeRow8 {
  width: 60px;
  background-color: orange;
}

/* row 9 */

.row9 {
  display: flex;
  background-color: transparent;
  flex: 1;
  justify-content: space-between;
}

.orangeRow9 {
  background-color: orange; 
  /* width: fit-content; */
  flex: 1;
}

.transparentRow9 {
  width: 20px;
  background-color: transparent; 
}