<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/form_submit", { fname: "John", lname: "Doe" } );
                }); 
            }); 
</script>
</head>
<body>

<h1>Scuff Google Maps</h1>

<form action="/home" method="POST" id = "form">
  <label for="origin">Origin:</label>
  <input type="text" id="origin" name="origin"><br><br>
  <label for="destination">Destination:</label>
  <input type="text" id="destination" name="destination"><br><br>
  <input type="submit" value="Find Directions and Nearby Food Options">
</form>

</body>
</html>