<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
                    $("return_to_login").submit(function() {
                        $("return_to_login").post("/create");
                    });
    });
</script>
</head>
<title>Error information</title>
<body>
    <p>Username or password is not found.</p>
    <form action="/create" method="POST" id="return_to_login">
        <input type="submit" value="Return">
    </form>
</body>
</html>