<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <!------ Include the above in your HEAD tag ---------->
    <body>
        <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Login Form -->
            
            <h1>Registration Form</h1>
            
            <br>

            <form action="/register" method="POST">
            <input type="text" id="firstname" class="fadeIn second" name="firstname" placeholder="First Name"><br><br>
            <input type="text" id="lastname" class="fadeIn second" name="lastname" placeholder="Last Name"><br><br>
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password"><br><br>
            <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Password
            <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            </div> -->

        </div>
        </div>
    </body>
</html>