<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/form_submit", { fname: "John", lname: "Doe" } );
                }); 
            }); 
</script>
</head>
<body>

<h1>Form Submission Example</h1>

<form action="/form_submit" method="POST" id = "form">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="age">Last name:</label>
  <input type="number" id="age" name="age"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click on the submit button to submit".</p>

</body>
</html>