<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/create_submit", { uname: "John", pword: "1234567" } );
                }); 
            }); 
</script>
</head>
<body>

<h1>Login Page</h1>

<form action="/create_submit" method="POST" id = "form">
  <label for="username">Username:</label>
  <input type="text" id="uname" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="text" id="pword" name="password"><br><br>
  <input type="submit" value="Login">
</form>

<p>Click on the login button to login.</p>

</body>
</html>