input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: aqua;
    color: black;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: yellow;
}

div {
    border-radius: 4px;
    background-color: blue;
    padding: 20px;
}