<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>
  </head>
  <body>
    <p>Create Message:</p>
    <form action="/<%= name %>/messages" method="POST">
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title"><br>
        <label for="messageText">message:</label>
        <input type="text" id="messageText" name="messageText"><br>
        <input type="submit" class="fadeIn fourth" value="Create">
      </form>
  </body>
</html>