<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Active Users</title>
  </head>
  <body>
    <b>New User Added</b>
    <p>Active Users List:
      <table>
        <tr>
          <td>Username</td>
          <td>Hashcode</td>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].username %></td>
             <td><%= data[i].hash %></td>
           </tr>
        <% }; %>
      </table>
    </p>
  </body>
</html>
