<!DOCTYPE html>
<html>
<head>
<script>
 $(document).ready(function() { 
                $("form").submit(function() { 
                    $("form").post( "/form_submit", { fname: "John", lname: "Doe", Id: 1, position: "Dev"} );
                }); 
            }); 
</script>
</head>
<body>

<h1>Employment Information Portal</h1>

<form method="POST" >
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="ID">ID:</label>
  <input type="text" id="ID" name="ID"><br><br>
  <label for="pos">Position:</label>
  <input type="text" id="pos" name="pos"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>