body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}


/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.blueExample3 {
  width: 80px;
  background-color: blue;
}

.redExample3 {
  width: 80px;
  background-color: red;
}

.emptyExample3 {
  display: flex;
  flex: 1;
  justify-content:space-between;
  flex-direction: row;
}

.emptyExample4 {
  display: flex;
  flex: 1;
  background-color: red;
  flex-direction: row-reverse;
}

.blueExample4 {
  width: 80px;
  background-color: blue;
}

.emptyExample5 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.redExample5 {
  width: 40px;
  height: 40px;
  background-color: red;
}

.emptyExample6 {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  background-color: red;
}

.blueExample6 {
  width: 80px;
  background-color: blue;
}

.emptyExample6 {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  background-color: red;
}

.blueExample6 {
  width: 80px;
  background-color: blue;
}


.emptyExample7 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start ;
  background-color: blue;
  align-content: center;
}
.greenExample7 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center ;
  background-color: green;
  align-content: center;
  height: 10px;
}

.redExample7 {
  width: 80px;
  background-color: red;
}




.emptyExample8 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
}

.blueExample8 {
  width: 80px;
  background-color: orange;
}

.emptyExample9 {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: row;
  background-color: orange;
}

.greenExample9 {
  width: 20px;
  background-color: green;
}
